@avernikoz/memechan-ts-interface:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=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

@avernikoz/memechan-ts-sdk:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=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